html {
    background-color: #717D7E;
    color: black;
}

img {
    border: 5px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    background-color: darkseagreen;
    text-align: center;
}

h1 {
    text-align: center;
    color: blanchedalmond;
    size: 25px;
}

.description {
    text-align: center;
    color: blanchedalmond;
}